
@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    
}

@mixin imageFill($url){
    background-image: $url;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin glassCard{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.48);
    border-radius: 16px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 255, 255, 0.14);
}

@mixin glassEffect{
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 255, 255, 0.14);
}

@mixin linkText{
    color: $black;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    &:hover{
        color: $secondaryClr;
    }

}