
@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    
}

@mixin imageFill($url){
    background-image: $url;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
