@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');


$primaryClr: #D71D2D;
$secondaryClr: #00B2CA;
$black: #171614;
$white: #F6F1F8;
$primaryFont: 'Roboto Mono', monospace;
$heroFont: 'Ms Madi', cursive;
$backgroundGradient: url('../images/gradient_img.png');



@import './mixins';


//fonts




//body

*{
    margin: 0;
    padding: 0;
}

body{
    @include imageFill(url('../images/site-background.png'));

    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    font-family: $primaryFont;
    color: $black;
    overflow-x: hidden;


}


//header

header{
    @include glassEffect;

    flex-wrap: wrap;
    border-bottom: 1px solid $primaryClr;
    width: 100%;
    padding: 0 6.5%;
    height: 64px;


    h1{
        font-family: $heroFont;
        color: $primaryClr;
        font-size: 2.2rem;
    }

    p{
        text-align: center;
        color: $secondaryClr;
        font-size: 1.2rem;
    }

   
}



.card-box{
    @include flex(row, center, space-around);



    flex-wrap: wrap;
    width: 100%;

    .card{
        @include glassCard;

        min-width: 300px;
        width: 25%;
        margin: 2rem 0;
        height: 500px;

        .image-box{
            @include imageFill(url('../images/card2_img.jpeg'));

            height: 60%;;
            border-radius: 10px;
            margin: 1rem;
            box-shadow: 0 10px 8px rgba(0,0,0,0.1);

            h3{
                padding-left: 1.5rem;
                padding-top: 1rem;
                font-size: 1.5rem;
            }

            p{
                padding-left: 1.5rem;
                color: $primaryClr;
            }
        }

        .info-box{
            @include flex(column, center, space-between);
            height: 30%;
            

            p{
                width: 80%;
                margin-top: 1rem;
                color: $black;
                
            }

            div{
                @include flex(row, center, space-between);

                padding-bottom: 1rem;
                width: 80%;

                h4{
                    color: $primaryClr;
                    font-size: 1.5rem;
                }

                button{
                    border: none;
                    background: $secondaryClr;
                    color: $white;
                    font-size: 1.2rem;
                    padding: 3px;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }

        }
        
    }
}
